<p-table [value]="partners"
         #partnersTable
         styleClass="p-datatable-striped"
         [lazy]="true"
         (onLazyLoad)="loadPartnerLazy($event)"
         [rows]="rows"
         [rowsPerPageOptions]="[10, 25, 50]"
         [showLoader]="true"
         [totalRecords]="totalRecords"
         [paginator]="true"
         [globalFilterFields]="['customIdentifier', 'legalName', 'primaryTaxIdentifierValue']"
         >

  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (keyup)="search($event)" placeholder="Search...">
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Tax Id Type</th>
      <th>Tax Id Value</th>
      <th>City</th>
      <th>Street</th>
      <th>Postal Code</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-partner>
    <tr [pSelectableRow]="partner" style="height: 46px">
      <td>{{partner.customIdentifier}}</td>
      <td>{{partner.legalName}}</td>
      <td>{{partner.primaryTaxIdentifierType}}</td>
      <td>{{partner.primaryTaxIdentifierValue}}</td>
      <td>{{partner.city}}</td>
      <td>{{partner.street}}</td>
      <td>{{partner.postalCode}}</td>
    </tr>
  </ng-template>

</p-table>
