@if (data$ | async; as data) {
    <div>
        <app-dropdown [items]="data.shipmentKinds" (OnItemSelected)="handleShipmentKindSelected($event)">
            Add Shipment
        </app-dropdown>
    </div>
    <div class="h-4/5 mr-2">
        <app-list-shipments [stockpiles]="data.stockpiles"
                            [controlsTemplate]="controlsTemplate"
                            (OnStockpileChanged)="handleStockpileChanged($event)"
                            (OnItemSelected)="handleShipmentSelected($event)"
                            (OnItemConfirmed)="handlerShipmentConfirmed($event)">
            <ng-template #controlsTemplate>
                <button class="btn btn-primary" (click)="deleteShipment($event)">Edit</button>
            </ng-template>
        </app-list-shipments>
    </div>
}
