<div class="m-5 h-full ">
  <input (keyup)="search($event)" [value]="searchPhrase" class="border border-slate-500 box-border">
  <table class="table-auto block h-[506px] border-collapse border-spacing-0 w-full overflow-scroll">
    <thead class="sticky top-0 bg-amber-200">
    <tr>
      <th *ngFor="let column of columns">
        <app-table-column [column]="column" (sortingChanged)="sortBy($event)"></app-table-column>
      </th>
    </tr>
    </thead>
    <tbody class="divide-black-600 divide-y h-full">
    <tr *ngFor="let partner of partners; index as i" [class.cursor-pointer]="i == currentIndex" class="whitespace-nowrap">
      <td>
        {{i + 1}}
      </td>
      <td>
        {{partner.customIdentifier}}
      </td>
      <td>
        {{partner.legalName}}
      </td>
      <td>
        {{partner.street}}
      </td>
      <td>
        {{partner.city}}
      </td>
      <td>
        {{partner.postalCode}}
      </td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>

  </table>
</div>
