<form class="mb-9" [formGroup]="addProductForm" (ngSubmit)="handleSubmit()">
    <div class="row g-3 flex-between-end mb-5">
        <div class="col-auto">
            <h2>Add a product</h2>
            <h5 class="text-body-tertiary fw-semibold">Add a product to catalog</h5>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-12 col-xl-6">
            <h4 class="mb-3">Product Name</h4>
            <input #nameInput
                   type="text"
                   class="form-control"
                   formControlName="name"
                   [class.is-invalid]="name.invalid && name.touched"/>
            <div class="invalid-feedback">Name needs to between 3 and 100 characters</div>
            <div class="mb-6 mt-6">
                <h4 class="mb-3">SKU</h4>
                <input type="text"
                       class="form-control"
                       formControlName="sku"
                       [class.is-invalid]="sku.invalid && sku.touched"/>
                <div class="invalid-feedback">SKU needs to between 5 and 100 characters</div>
            </div>
            <div class="mb-6 mt-5">
                <h4 class="mb-3">Unit of Measure</h4>
                <select class="form-select"
                        formControlName="unitOfMeasure">
                    @for (option of unitsOfMeasure; track option) {
                        <option [value]="option">{{ option }}</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary mb-2 mb-sm-0 me-2"
                    type="submit"
                    [disabled]="addProductForm.invalid">Save
            </button>
            <button class="btn btn-phoenix-secondary mb-2 mb-sm-0"
                    type="button"
                    (click)="OnCancelled.emit()">Cancel
            </button>
        </div>
    </div>
</form>