<div class="pt-2">
    @if (listResponse$ | async; as listResponse) {
        <app-list-items-layout [listResponse]="listResponse"
                               [itemTemplate]="itemsTemplate"
                               (OnSearch)="search($event)"
                               (OnPageSizeChanged)="changePageSize($event)"
                               (OnPrevPage)="tryPrevPage()"
                               (OnNextPage)="tryNextPage()">
            <ng-template #itemsTemplate>
                <thead>
                <tr class="">
                    <th>#</th>
                    <th (click)="sortBy('sku')">Sku</th>
                    <th (click)="sortBy('name')">Name</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                    @for (brandItem of listResponse.items; track brandItem.brandId; let i = $index) {
                        <tr [class.idx]="i == currentIndex_$()" (click)="handleRowClick(brandItem)"
                            class="grid grid-cols-inventory-items text-base">
                            <td>{{ (listResponse.currentPage - 1) * listResponse.pageSize + i + 1 }}</td>
                            <td>{{ brandItem.name }}</td>
                            <td>{{ brandItem.shortCode }}</td>
                        </tr>
                    }
                </tbody>
            </ng-template>
        </app-list-items-layout>
    } @else {
        <div>Loading...</div>
    }
</div>
