<div>
    <nav class="">
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/partners" routerLinkActive="active">Partners</a>
            </li>
            <li>
                <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
                <ul>
                    <li>
                        <a routerLink="/catalog/brands/list" routerLinkActive="active">Brands</a>
                    </li>
                    <li>
                        <a routerLink="/catalog/brands/add" routerLinkActive="active">Add Brand</a>
                    </li>

                </ul>
            </li>
            <li>
                <a routerLink="/shipments" routerLinkActive="active">Shipments</a>
            </li>
        </ul>
    </nav>
</div>
