<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <div class="nav-item-wrapper">
                        <a class="nav-link label-1" role="button" routerLink="catalog/catalog-items"
                           routerLinkActive="active">
                            <div class="d-flex align-items-center">
                                <div class="nav-link-icon">
                                    <span data-feather="home"></span>
                                </div>
                                <span class="nav-link-text-wrapper">
                                    <span class="nav-link-text">Catalog</span>
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home"
                                                     role="button" data-bs-toggle="collapse" aria-expanded="false"
                                                     aria-controls="nv-home">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
                            <span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span
                                class="nav-link-text">Home</span>
                        </div>
                    </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                                <li class="collapsed-nav-item-title d-none">Home
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../index.html" data-bs-toggle=""
                                                        aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">E commerce</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../dashboard/project-management.html"
                                                        data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Project management</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../dashboard/crm.html" data-bs-toggle=""
                                                        aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">CRM</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../dashboard/travel-agency.html"
                                                        data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Travel agency</span><span
                                            class="badge ms-2 badge badge-phoenix badge-phoenix-warning ">New</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../apps/social/feed.html"
                                                        data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center"><span
                                            class="nav-link-text">Social feed</span>
                                    </div>
                                </a>
                                    <!-- more inner pages-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
