<div class="bg-slate-400 h-full mr-2">
    <nav class="p-4">
        <ul class="space-y-2">
            <li>
                <a routerLink="inventory/stockpile" routerLinkActive="active">Inventory</a>
            </li>
            <li>
                <a routerLink="inventory/shipments" routerLinkActive="active">Shipments</a>
            </li>
            <li>
                <a routerLink="/catalog/catalog-items" routerLinkActive="active">Catalog Items</a>
            </li>
            <li>
                <a routerLink="/common/tax-definitions" routerLinkActive="active">Tax Definitions</a>
            </li>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/partners" routerLinkActive="active">Partners</a>
            </li>
            <li>
                <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
                <ul>
                    <li>
                        <a routerLink="/catalog/brands/list" routerLinkActive="active">Brands</a>
                    </li>
                    <li>
                        <a routerLink="/catalog/brands/add" routerLinkActive="active">Add Brand</a>
                    </li>

                </ul>
            </li>
            <li>
                <a routerLink="/inventory/shipments" routerLinkActive="active">Shipments</a>
            </li>
        </ul>
    </nav>
</div>
