<div class="p-4">

    <div class="py-4">
        <button (click)="showAdd()" type="button" class="btn">
            <span class="text-sm text-gray-600">add</span>
        </button>
    </div>
    <div *ngIf="uiState == 0">
        <app-list-tax-definitions (onEdit)="handleOnEdit($event)"></app-list-tax-definitions>

    </div>
    <div *ngIf="uiState == 1">
        <app-add-tax-definition (taxDefinitionAdded)="handleTaxDefinitionAdded($event)"></app-add-tax-definition>
    </div>
    <div *ngIf="uiState == 2">
        <app-edit-tax-definition [taxDefinition]="selectedTaxDefinition"
                                 (onSave)="handleOnSave()"
                                 (onCancel)="handleOnCancel()"></app-edit-tax-definition>
    </div>
</div>

