@if (uiState == 'list') {
    <div class="mb-9">
        <div class="row g-3 mb-4">
            <div class="col-auto">
                <h2 class="mb-0">Stockpiles</h2>
            </div>
        </div>
        <div id="stockpiles">
            <ng-template #toolbar>
                <div class="ms-xxl-auto">
                    <button class="btn btn-primary" (click)="uiState = 'add'">
                        <fa-icon icon="plus" class="me-2"></fa-icon>
                        <span>Add Stockpile</span>
                    </button>
                </div>
            </ng-template>
            <app-list-stockpiles [toolbarTemplate]="toolbar"
                                 (OnItemConfirmed)="handleItemConfirmed($event)">
            </app-list-stockpiles>
        </div>
    </div>
} @else if (uiState == 'add') {
    <div class="col-12 col-xl-6 mb-5">
        <app-notification [notification]="notification"></app-notification>
    </div>

    <app-add-stockpile (OnStockpileAdded)="handleStockpileAdded($event)"
                       (OnCancelled)="uiState = 'list'">
    </app-add-stockpile>
}