<div class="">
    <app-super-table [body]="body" [header]="header" [config]="this.superTableConfig" class="">
        <ng-template #header>
            <tr>
                <th>#</th>
                <th>Short Code</th>
                <th>Name</th>
                <th>Detail</th>
                <th>Another</th>
                <th>thingy</th>
            </tr>
        </ng-template>
        <ng-template #body let-brand let-index="index">
            <td>{{ (index + 1) | json }}</td>
            <td>{{ brand.shortCode }}</td>
            <td>{{ brand.name }}</td>
            <td>{{ (index + 1) | json }}</td>
            <td>{{ brand.shortCode }}</td>
            <td>{{ brand.name }}</td>
        </ng-template>
    </app-super-table>
</div>