<div class="mb-4">
    <div class="d-flex flex-wrap gap-3">
        <div class="search-box">
            <app-list-search-input [search]="listResponse.search"
                                   (OnSearch)="OnSearch.emit($event)"></app-list-search-input>
        </div>
        <ng-container *ngTemplateOutlet="toolbarTemplate">
        </ng-container>
    </div>
</div>
<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
    <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs-9 mb-0">
            <ng-container *ngTemplateOutlet="itemTemplate">
            </ng-container>
        </table>
    </div>
    <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
        <div class="col-auto d-flex align-items-baseline gap-2">
            <span class="fw-semibold">
            showing
            </span>
            <app-list-page-size-select [pageSize]="listResponse.pageSize"
                                       (OnPageSizeChanged)="OnPageSizeChanged.emit($event)">
            </app-list-page-size-select>
            <span class="fw-semibold">
            items of {{ listResponse.totalCount }}
            </span>
        </div>
        <div class="col-auto d-flex">
            <button class="page-link"><fa-icon icon="angle-left"></fa-icon></button>
            <button class="page-link"><fa-icon icon="angle-right"></fa-icon></button>
        </div>
    </div>
</div>
