<div class="flex">
    <app-list-search-input [search]="listResponse.search" (OnSearch)="OnSearch.emit($event)"></app-list-search-input>
</div>
<app-list-paging-info [items]="listResponse"></app-list-paging-info>
<div>
    <app-list-page-size-select [pageSize]="listResponse.pageSize"
                               (OnPageSizeChanged)="OnPageSizeChanged.emit($event)"></app-list-page-size-select>

    <table class="table-auto grid border-collapse overflow-scroll max-h-full">
        <ng-container *ngTemplateOutlet="itemTemplate">

        </ng-container>
        <tfoot>
        <tr>
            <td>
                <button type="button" (click)="OnPrevPage.emit()">Prev Page</button>
            </td>
            <td>
                <button type="button" (click)="OnNextPage.emit()">Next Page</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
