<div class="my-2 py-2">
    {{ shipment?.kind?.shortCode }} - {{ shipment?.kind?.name }}
</div>
<hr/>
<div class="my-2 py-2">
    @if (uiState == 'view') {
        <app-partner-details [partner]="shipment?.partner"
                             (OnPartnerEdit)="uiState = 'edit-partner'">
        </app-partner-details>
        <hr/>
        <button class="btn" (click)="uiState = 'select-item'">Add Item</button>
        <table class="table table-auto">
            <thead>
            <tr>
                <th>
                    Sku
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Total
                </th>
            </tr>
            </thead>
            <tbody>
                @for (item of shipment?.records; track item.inventoryItemId) {
                    <tr>
                        <td>
                            {{ item?.sku }}
                        </td>
                        <td>
                            {{ item?.name }}
                        </td>
                        <td>
                            {{ item?.quantity }}
                        </td>
                        <td>
                            {{ item?.unitPrice }}
                        </td>
                        <td>
                            {{ item?.taxRate }}
                        </td>
                        <td>
                            {{ item!.quantity * item!.unitPrice }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (uiState == 'edit-partner') {
        <app-list-partners (OnItemConfirmed)="handlePartnerConfirmed($event); uiState = 'view'"></app-list-partners>
    }
    @if (uiState == 'select-item') {
        <app-list-inventory (OnItemConfirmed)="handleInventoryItemConfirmed($event)"></app-list-inventory>
    }
    @if (uiState == 'add-record'){
        <app-add-record [inventoryItem]="inventoryItem" (OnRecordAdded)="handleRecordAdded($event)"></app-add-record>
    }
</div>
