<h2>Edit Shipment</h2>
<hr/>
<div class="my-2 py-2">
    @if (uiState == 'view') {

        <div class="p-2 mx-auto max-w-7xl">

            <div class="my-2 py-2">
                {{ shipment?.kind?.shortCode }} - {{ shipment?.kind?.name }}
            </div>

            <app-partner-details [partner]="shipment?.partner"
                                 (OnPartnerEdit)="uiState = 'edit-partner'" class="p-2 border border-slate-200 block rounded">
            </app-partner-details>
            <app-list-records [records]="shipment!.records"
                              [currency]="shipment!.currency"
                              class="p-2 block border-slate-200 rounded border my-2 ">
            </app-list-records>
            <div class="flex">
                <button class="btn mr-2" (click)="uiState = 'select-item'">Add Item</button>
                <button class="btn" (click)="handleAccept()">Accept</button>
            </div>
        </div>

    }
    @if (uiState == 'edit-partner') {
        <app-list-partners (OnItemConfirmed)="handlePartnerConfirmed($event); uiState = 'view'"></app-list-partners>
    }
    @if (uiState == 'select-item') {
        <app-list-inventory (OnItemConfirmed)="handleInventoryItemConfirmed($event)"></app-list-inventory>
    }
    @if (uiState == 'add-record'){
        <app-add-record [inventoryItem]="inventoryItem" (OnRecordAdded)="handleRecordAdded($event)"></app-add-record>
    }
</div>
