@if (uiState == 'edit') {
    <div class="row gx-10" [formGroup]="editShipmentForm">
        <div class="col-12 col-xl-4">
            <div class="row mb-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ shipment.kind.shortCode }} - {{ shipment.kind.name }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-4">
                                <span>Seq. No.</span>
                            </div>
                            <div class="col-8">
                                {{ shipment.sequenceNumber ?? '---' }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                <span>Direction</span>
                            </div>
                            <div class="col-8">
                                {{ shipment.kind.direction }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                <span>Src. ref.</span>
                            </div>
                            <div class="col-8">
                                {{ shipment.sourceReference ?? '---' }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                <span>Shipment ID</span>
                            </div>
                            <div class="col-8">
                                {{ shipment.shipmentId ?? '---' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-baseline">
                        <h4 class="card-title">Partner</h4>
                        <button class="btn btn-link" (click)="handleChangePartnerClicked()">Change</button>
                    </div>
                    <div class="card-body">
                        <div>{{ shipment.partner.legalName }}</div>
                        <div>{{ shipment.partner.businessId.type }}: {{ shipment.partner.businessId.value }}</div>
                        <div>{{ shipment.partner.address }}</div>
                    </div>
                </div>
            </div>
            <div class="row g-2" formGroupName="header">
                <label class="col-sm-4 col-form-label" for="issued-on">Issued On</label>
                <div class="col-sm-8">
                    <input type="date" id="issued-on" class="form-control" formControlName="issuedOn"/>
                </div>
                <label class="col-sm-4 col-form-label" for="shipped-on">Shipped On</label>
                <div class="col-sm-8">
                    <input type="date" id="shipped-on" class="form-control" formControlName="shippedOn"/>
                </div>
                <label class="col-sm-4 col-form-label" for="source-reference">Source Reference</label>
                <div class="col-sm-8">
                    <input type="text" id="source-reference" class="form-control" formControlName="sourceReference"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8">
            <h4 class="mb-3">Records</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Sku</th>
                    <th>Name</th>
                    <th class="text-right pr-4">Quantity</th>
                    <th class="text-right pr-4">Unit</th>
                    <th class="text-right pr-4">Price</th>
                    <th class="text-right pr-4">Tax</th>
                    <th class="text-right pr-4">Total</th>
                </tr>
                </thead>
                <tbody>
                    @for (record of records.controls; track record) {
                        <tr>
                            <td>{{ $index + 1 }}</td>
                            <td>{{ record.get('sku')?.value }}</td>
                            <td>{{ record.get('name')?.value }}</td>
                            <td class="text-right pr-4">{{ record.get('quantity')?.value }}</td>
                            <td class="text-right pr-4">{{ record.get('unitOfMeasure')?.value }}</td>
                            <td class="text-right pr-4">{{ record.get('unitPrice')?.value }}</td>
                            <td class="text-right pr-4">{{ record.get('taxRate')?.value }}</td>
                            <td class="text-right pr-4">{{ record.get('unitPrice')?.value * record.get('quantity')?.value }}</td>
                            <th class="text-right pr-4">
                                <fa-icon class="delete-icon"
                                         (click)="handleDeleteRecordClicked($index)"
                                         icon="delete-left"></fa-icon>
                            </th>
                        </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-dark" (click)="handleAddRecordClicked()">
                            <fa-icon icon="plus"></fa-icon>
                            Add
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
} @else if (uiState == 'list-partners') {
    <app-list-partners (OnItemConfirmed)="handlePartnerSelected($event)"></app-list-partners>
} @else if (uiState == 'list-inventory-items') {
    <app-list-inventory [stockpiles]="[shipment.stockpile]"></app-list-inventory>
}