@tailwind base;
@tailwind components;
@tailwind utilities;

.idx {
    @apply text-gray-900 bg-slate-400;
}

.form-container > * {
    @apply py-2
}

div.form-control {
    @apply flex flex-col max-w-[300px];
}

div.form-control label {
    @apply text-sm font-bold;
}

div.form-control input {
    @apply border border-gray-400 rounded p-2 ;
}

.form-container button[type="submit"][disabled] {
    @apply bg-gray-400 text-white rounded p-1;
}

.form-container button[type="submit"] {
    @apply bg-green-500 text-white rounded p-1 h-10;
}

button.btn {
    @apply text-slate-900 bg-slate-100 rounded px-2 border border-slate-300 h-10;
}