@tailwind base;
@tailwind components;
@tailwind utilities;

/*.cursor-pointer {*/
/*    @apply bg-red-500;*/
/*}*/

/*form button[type="submit"] {*/
/*    @apply bg-green-500;*/
/*}*/

/*form button:disabled {*/
/*    @apply bg-gray-500;*/
/*}*/

/*th {*/
/*    text-align: left;*/
/*}*/
/*table {*/
/*    width: 100%;*/
/*}*/
/*td {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    max-width: 0;*/
/*}*/

/*table {*/
/*    width: 100%; !* changing to auto stops the truncation *!*/
/*    border-spacing: 5px;*/
/*}*/

/*th {*/
/*    background: #000;*/
/*    color: #EEE;*/
/*    font-weight: normal;*/
/*    padding: 5px;*/
/*}*/


/*td {*/
/*    background: #AAA;*/
/*    font-weight: bold;*/
/*    !*max-width: 0;*!*/
/*    overflow: hidden;*/
/*    padding: 5px;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

.idx {
    @apply text-gray-900 bg-slate-400;
}

.form-container > * {
    @apply py-2
}

div.form-control {
    @apply flex flex-col max-w-[300px];
}

div.form-control label {
    @apply text-sm font-bold;
}

div.form-control input {
    @apply border border-gray-400 rounded p-2 ;
}

.form-container button[type="submit"][disabled] {
    @apply bg-gray-400 text-white rounded p-1;
}

.form-container button[type="submit"] {
    @apply bg-green-500 text-white rounded p-1 h-10;
}

button.btn {
    @apply text-slate-900 bg-slate-100 rounded px-2 border border-slate-300 h-10;
}