<div class="h-[700px]">
    <div *ngIf="config.searchConfig.showSearch">
        <input type="text"
               [placeholder]="config.searchConfig.searchPlaceholder"
               (keyup)="searchPhrase$.next(searchInput.value)"
               #searchInput
               class="w-full border-2 border-gray-300 bg-white h-10 px-5 pr-16 text-sm focus:outline-none"/>
    </div>
    <!--    <table class="table-auto block h-[506px] overflow-scroll super">-->
    <table class="block h-[660px] overflow-scroll w-[800px]">
        <thead class="sticky top-0 text-left text-sm">
        <!--        <thead class="">-->
        <ng-container *ngTemplateOutlet="header"></ng-container>
        </thead>
        <tbody class="">
        <!--        <tbody class="divide-black-600 divide-y">-->
        <ng-container *ngFor="let item of data; index as i">
            <tr [class.cursor-pointer]="currentIndex == i">
                <ng-container *ngTemplateOutlet="body; context: {$implicit: item, index: i}"></ng-container>
            </tr>
        </ng-container>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>