<div class="">
    @if (listResponse$ | async; as listResponse) {
        <app-list-items-layout [listResponse]="listResponse"
                               [itemTemplate]="itemsTemplate"
                               (OnSearch)="search($event)"
                               (OnPageSizeChanged)="changePageSize($event)"
                               (OnPrevPage)="tryPrevPage()"
                               (OnNextPage)="tryNextPage()">
            <ng-template #itemsTemplate>
                <thead>
                <tr class="">
                    <th>#</th>
                    <th (click)="sortBy('sku')">Sku</th>
                    <th (click)="sortBy('name')">Name</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                    @for (catalogItem of listResponse.items; track catalogItem.catalogItemId; let i = $index) {
                        <tr [class.table-active]="i == currentIndex_$()"
                            (click)="handleRowClick(catalogItem)"
                            (dblclick)="handleRowDblClick(catalogItem)" class="">
                            <td class="align-middle">{{ (listResponse.currentPage - 1) * listResponse.pageSize + i + 1 }}</td>
                            <td class="align-middle">{{ catalogItem.sku }}</td>
                            <td class="align-middle">{{ catalogItem.name }}</td>
                            <td class="align-middle">{{ catalogItem.unitOfMeasure }}</td>
                        </tr>
                    }
                </tbody>
            </ng-template>
        </app-list-items-layout>
    } @else {
        <div>Loading...</div>
    }
</div>
