<li class="nav-item">
    <div class="nav-item-wrapper">
        <a class="nav-link dropdown-indicator label-1"
           href="{{'#' + navId}}"
           role="button"
           data-bs-toggle="collapse"
           aria-expanded="false"
           [attr.aria-controls]="navId">
            <div class="d-flex align-items-center">
                <div class="dropdown-indicator-icon">
                    <span class="fas fa-caret-right"></span>
                </div>
                <span class="nav-link-icon">
                    <span data-feather="pie-chart"></span>
                </span>
                <span class="nav-link-text">{{name}}</span>
            </div>
        </a>
        <div class="parent-wrapper label-1">
            <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="{{navId}}">
                <ng-content></ng-content>
            </ul>
        </div>
    </div>
</li>
