<div class="mx-auto w-1/3">
    <div class="form-control">
        <input type="text" placeholder="search" #searchInput (keyup)="search$.next(searchInput.value)"/>
    </div>

    <ul class="divide-y divide-amber-500">
        <li *ngFor="let partner of partners; index as idx" class="py-1 ">
            <div [class.current-idx]="currentIndex == idx">
                <div class="text-xl p-1">{{ partner.customIdentifier }}</div>
                <div>{{ partner.legalName }}</div>
                <span>{{ partner.street }}, {{ partner.city }}</span>
            </div>
        </li>
    </ul>
</div>