@if (listResponse$ | async; as listResponse) {
    <app-list-items-layout [listResponse]="listResponse"
                           [toolbarTemplate]="toolbarOuter"
                           [itemTemplate]="itemsTemplate"
                           (OnSearch)="search($event)"
                           (OnPageSizeChanged)="changePageSize($event)"
                           (OnPrevPage)="tryPrevPage()"
                           (OnNextPage)="tryNextPage()">
        <ng-template #toolbarOuter>
            <ng-container *ngTemplateOutlet="toolbarTemplate">
            </ng-container>
        </ng-template>
        <ng-template #itemsTemplate>
            <thead>
            <tr>
                <th class="sort align-middle" scope="col" style="width:70px">#</th>
                <th class="sort align-middle" scope="col" style="width:200px" (click)="sortBy('shortcode')">Short Code</th>
                <th class="sort align-middle" scope="col" style="width:350px" (click)="sortBy('name')">Name</th>
                <th class="sort align-middle" scope="col" style="width:150px" (click)="sortBy('direction')">Direction</th>
                <th class="sort text-end align-middle pe-0 ps-4"></th>
            </tr>
            </thead>
            <tbody class="list" id="shipmentKinds-table-body">
                @for (shipmentKind of listResponse.items; track shipmentKind.shipmentKindId; let i = $index) {
                    <tr [class.table-primary]="i == currentIndex_$()"
                        (click)="handleRowClick(shipmentKind)"
                        (dblclick)="handleRowDblClick(shipmentKind)" class="position-static">
                        <td class="text-body-tertiary align-middle white-space-nowrap px-1">{{ (listResponse.currentPage - 1) * listResponse.pageSize + i + 1 }}</td>
                        <td class="category align-middle">{{ shipmentKind.shortCode }}</td>
                        <td class="ps-4 align-middle">{{ shipmentKind.name }}</td>
                        <td class="ps-4 align-middle">{{ shipmentKind.direction }}</td>
                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger"></td>
                    </tr>
                }
            </tbody>
        </ng-template>
    </app-list-items-layout>
}
