<div>
    <h2>Catalog Item Availability in Stockpiles</h2>
    <form class="form-container"
          [formGroup]="stockpileForm"
          (ngSubmit)="handleSubmit()">
        <div formArrayName="items">
            <table class="table table-auto">
                <thead>
                    <tr>
                        <th>Short Code</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Available</th>
                    </tr>
                <tbody>
                    @for (entry of items.controls; track entry; let i = $index) {
                        <tr [formGroupName]="i">
                            <td>{{ entry.get('stockpileShortCode')?.value }}</td>
                            <td>{{ entry.get('stockpileName')?.value }}</td>
                            <td>{{ entry.get('quantity')?.value }}</td>
                            <td><input type="checkbox"
                                       formControlName="available"/></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button class="p-2" type="submit" [disabled]="!stockpileForm.dirty">Save</button>
    </form>
</div>