@if (listResponse$ | async; as listResponse) {
    <app-list-items-layout [listResponse]="listResponse"
                           [toolbarTemplate]="toolbarOuter"
                           [itemTemplate]="itemsTemplate"
                           (OnSearch)="search($event)"
                           (OnPageSizeChanged)="changePageSize($event)"
                           (OnPrevPage)="tryPrevPage()"
                           (OnNextPage)="tryNextPage()">
        <ng-template #toolbarOuter>
            <ng-container *ngTemplateOutlet="toolbarTemplate">
            </ng-container>
        </ng-template>
        <ng-template #itemsTemplate>
            <thead>
            <tr>
                <th class="sort align-middle" scope="col" style="width:70px">#</th>
                <th class="sort align-middle" scope="col" style="width:200px" (click)="sortBy('customIdentifier')">Custom Id</th>
                <th class="sort align-middle" scope="col" style="width:350px" (click)="sortBy('legalName')">Name</th>
                <th class="sort align-middle" scope="col">Business Id</th>
                <th class="sort text-end align-middle pe-0 ps-4"></th>
            </tr>
            </thead>
            <tbody class="list" id="products-table-body">
                @for (product of listResponse.items; track product.partnerId; let i = $index) {
                    <tr [class.table-primary]="i == currentIndex_$()"
                        (click)="handleRowClick(product)"
                        (dblclick)="handleRowDblClick(product)" class="position-static">
                        <td class="text-body-tertiary align-middle white-space-nowrap px-1">{{ (listResponse.currentPage - 1) * listResponse.pageSize + i + 1 }}</td>
                        <td class="category align-middle">{{ product.customIdentifier }}</td>
                        <td class="product ps-4 align-middle">{{ product.legalName }}</td>
                        <td class="align-middle">{{ '(' + product.businessIdentifierType + ') ' + product.businessIdentifierValue }}</td>
                    </tr>
                }
            </tbody>
        </ng-template>
    </app-list-items-layout>
}
