<div class="pt-2">

    @if (listResponse$ | async; as listResponse) {
        <app-list-items-layout [listResponse]="listResponse"
                               [itemTemplate]="itemsTemplate"
                               (OnSearch)="search($event)"
                               (OnPageSizeChanged)="changePageSize($event)"
                               (OnPrevPage)="tryPrevPage()"
                               (OnNextPage)="tryNextPage()">
            <ng-template #itemsTemplate>
                <thead>
                <tr class="grid grid-cols-catalog-items text-left bg-slate-900 text-gray-200 p-2 sticky top-0 max-h-[40px]">
                    <th>#</th>
                    <th (click)="sortBy('sku')">Sku</th>
                    <th (click)="sortBy('name')">Name</th>
                    <th>Unit</th>
                    <th>Tax</th>
                </tr>
                </thead>
                <tbody>
                    @for (partner of listResponse.items; track partner.partnerId; let i = $index) {
                        <tr [class.idx]="i == currentIndex_$()" (click)="handleRowClick(partner)"
                            class="grid grid-cols-catalog-items text-base">
                            <td>{{ (listResponse.currentPage - 1) * listResponse.pageSize + i + 1 }}</td>
                            <td>{{ partner.customIdentifier }}</td>
                            <td>{{ partner.legalName }}</td>
                            <td>{{ partner.primaryTaxIdentifierValue }}</td>
                            <td>{{ partner.city }}</td>
                        </tr>
                    }
                </tbody>
            </ng-template>
        </app-list-items-layout>
    } @else {
        <div>Loading...</div>
    }
</div>
