@if (data$ | async; as data) {
    @if (uiState == 'list') {
        <div class="mb-9">
            <div class="row g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0">Products</h2>
                </div>
            </div>
            <div id="products">
                <ng-template #toolbar>
                    <div class="ms-xxl-auto">
                        <button class="btn btn-primary" (click)="uiState = 'add'">
                            <fa-icon icon="plus" class="me-2"></fa-icon>
                            <span>Add Product</span>
                        </button>
                    </div>
                </ng-template>
                <app-list-products [toolbarTemplate]="toolbar"
                                   (OnItemConfirmed)="handleItemConfirmed($event)">
                </app-list-products>
            </div>
        </div>
    } @else if (uiState == 'add') {
        <app-add-product (OnCancelled)="uiState = 'list'"
                         (OnProductAdded)="handleProductAdded($event)"
                         [taxDefinitions]="data.taxes"
                         [unitsOfMeasure]="data.units">
        </app-add-product>
    }
}