<h2>Available Countries</h2>
<hr/>
@if (uiState == 'list') {
    <div>
        <button (click)="handleAddCountry()">Add</button>
    </div>
    @if (countries$ | async) {
        <table class="table table-auto">
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
                @for (country of countries$ | async; track country.code) {
                    <tr (click)="handleCountryClicked(country)">
                        <td>{{ country.code }}</td>
                        <td>{{ country.name }}</td>
                    </tr>
                }
        </table>
    } @else {
        <p>Loading...</p>
    }
} @else if (uiState == 'edit') {
    <app-edit-country [country]="selectedCountry"
                      (OnEditCancelled)="uiState = 'list'"
                      (OnEditCompleted)="handleCountryAdded($event)">
    </app-edit-country>
}