@if (catalogItem$ | async; as catalogItem) {
    <h2>{{ catalogItem.sku }} - {{ catalogItem.name }}</h2>
    <hr/>
    <app-catalog-item-base-props [CatalogItemDetails]="catalogItem"
                                 (OnFormSubmit)="handleSubmitDetails($event)">
    </app-catalog-item-base-props>
}
<hr/>
@if (stockpiles$ | async; as stockpiles) {
    <app-catalog-item-stockpiles [stockpiles]="stockpiles.stockpiles"
                                 (OnFormSubmit)="handleSubmitAvailability($event)">
    </app-catalog-item-stockpiles>
}