<div class="w-1/2 mx-auto">
    <h2 class="text-2xl py-2">Add a new partner</h2>
    @if (error) {
        <app-create-partner-error [error]="error"></app-create-partner-error>
    }
    <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            <label for="custom-identifier">Custom Identifier</label>
            <input autocomplete="false" type="text" id="custom-identifier" formControlName="customIdentifier" autofocus>
            @if(customIdentifier.invalid && customIdentifier.touched){

                <div>
                    @if(customIdentifier.errors?.['required']){
                        <p class="text-red-500">Custom Identifier is required</p>
                    }
                    @if(customIdentifier.errors?.['minlength']){
                        <p class="text-red-500">Custom Identifier must be at least 3 characters long</p>
                    }
                    @if(customIdentifier.errors?.['maxlength']){
                        <p class="text-red-500">Custom Identifier must be at most 20 characters long</p>
                    }
                </div>
            }
        </div>

        <div class="flex flex-col">
            <label for="legal-name">Legal Name</label>
            <textarea id="legal-name" rows="6" formControlName="legalName"></textarea>
            @if(legalName?.invalid && legalName?.touched){

                <div>
                    @if(legalName?.errors?.['required']){
                        <p class="text-red-500">Legal Name is required</p>
                    }
                    @if(legalName?.errors?.['minlength']){
                        <p class="text-red-500">Legal Name must be at least 3 characters long</p>
                    }
                    @if(legalName?.errors?.['maxlength']){
                        <p class="text-red-500">Legal Name must be at most 256 characters long</p>
                    }
                </div>
            }
        </div>

        <div class="flex flex-col">
            <label for="is-retail">Is retail</label>
            <input type="checkbox" id="is-retail" formControlName="isRetail" #isRetailCheckbox>
        </div>
        <div class="flex flex-col">
            <label for="tax-identifier">NIP</label>
            <input type="text" id="tax-identifier" formControlName="nip">
            @if(!isRetailCheckbox.checked && nip?.invalid && nip?.touched){
                <div>
                    @if(nip?.errors?.['required']){
                        <p class="text-red-500">NIP is required</p>
                    }
                    @if(nip?.errors?.['minlength'] || nip?.errors?.['maxlength']){
                        <p class="text-red-500">NIP must be at 10 characters long</p>
                    }
                </div>
            }
        </div>

        <div formGroupName="address">
            <div class="flex flex-col">
                <label for="street">Street</label>
                <input type="text" id="street" formControlName="street">
                @if (street?.invalid && street?.touched) {
                    <div>
                        @if(street?.errors?.['required']){
                            <p class="text-red-500">Street is required</p>
                        }
                        @if(street?.errors?.['minlength']){
                            <p class="text-red-500">Street must be at least 3 characters long</p>
                        }
                        @if(street?.errors?.['maxlength']){
                            <p class="text-red-500">Street must be at most 256 characters long</p>
                        }
                    </div>
                }
            </div>
            <div class="flex flex-col">
                <label for="city">City</label>
                <input type="text" id="city" formControlName="city">
                @if (city?.invalid && city?.touched) {
                    <div>
                        @if(city?.errors?.['required']){
                            <p class="text-red-500">City is required</p>
                        }
                        @if(city?.errors?.['minlength']){
                            <p class="text-red-500">City must be at least 3 characters long</p>
                        }
                        @if(city?.errors?.['maxlength']){
                            <p class="text-red-500">City must be at most 256 characters long</p>
                        }
                    </div>
                }
            </div>
            <div class="flex flex-col">
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" formControlName="postalCode">
                @if (postalCode?.invalid && postalCode?.touched) {
                    <div>
                        @if(postalCode?.errors?.['required']){
                            <p class="text-red-500">Postal Code is required</p>
                        }
                        @if(postalCode?.errors?.['minlength']){
                            <p class="text-red-500">Postal Code must be at least 3 characters long</p>
                        }
                        @if(postalCode?.errors?.['maxlength']){
                            <p class="text-red-500">Postal Code must be at most 256 characters long</p>
                        }
                    </div>
                }
            </div>
            <div class="flex flex-col">
                <label for="country">Country</label>
                <select id="country" formControlName="country">
                    @for (country of countries$ | async; track country.code; let i = $index) {
                        <option [value]="country.code">{{ country.name }}</option>
                    }
                </select>
            </div>
        </div>

        <div class="flex flex-row">
            <button class="btn" type="submit" [disabled]="!partnerForm.valid">Submit</button>
            <button class="btn" type="button" (click)="handleCancel()">Cancel</button>
        </div>

    </form>
</div>
