<div class="w-1/2 mx-auto">
    <h2 class="text-2xl py-2">Add a new partner</h2>
    @if (error) {
        <app-create-partner-error [error]="error"></app-create-partner-error>
    }
    <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            <label for="custom-identifier">Custom Identifier</label>
            <input type="text" id="custom-identifier" formControlName="customIdentifier">
        </div>

        <div class="flex flex-col">
            <label for="legal-name">Legal Name</label>
            <textarea id="legal-name" rows="6" formControlName="legalName"></textarea>
        </div>

        <div class="flex flex-col">
            <label for="is-retail">Is retail</label>
            <input type="checkbox" id="is-retail" formControlName="isRetail">
        </div>
        <div class="flex flex-col">
            <label for="tax-identifier">NIP</label>
            <input type="text" id="tax-identifier" formControlName="nip">
        </div>

        <div formGroupName="address">
            <div class="flex flex-col">
                <label for="street">Street</label>
                <input type="text" id="street" formControlName="street">
            </div>
            <div class="flex flex-col">
                <label for="city">City</label>
                <input type="text" id="city" formControlName="city">
            </div>
            <div class="flex flex-col">
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" formControlName="postalCode">
            </div>
            <div class="flex flex-col">
                <label for="country">Country</label>
                <select id="country" formControlName="country">
                    @for (country of countries$ | async; track country.code) {
                        <option [value]="country.code">{{ country.name }}</option>
                    }
                </select>
            </div>
        </div>

        <button class="btn" type="submit" [disabled]="!partnerForm.valid">Submit</button>

    </form>
</div>
